<!-- <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
    Webfont.load({
        google: {
            families: ['Noto Serif,400,700']
        }
    });
</script> -->
<footer>
    <div class="col">
        <span class="col-title">Quick Links</span>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="col">
        <span class="col-title">Mission</span>
        <p>To have a positive impact on our world.</p>
    </div>
    <div class="col">
        <span class="col-title">Subscribe</span></div>
</footer>