.banner {
    min-height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text-block {
        max-width: 50%;

        @media (max-width: 768px) {
            max-width: 95%;
        }

        min-height: 300px;
        flex: 1 0 300px;
        background-color: rgba($text-block-bg, .9);
        //opacity: 90%;

        & > div {
            margin: 40px
        }

        &__preheading {
            font-size: 2rem;
        }
    
        h1 {
            font-weight: 400;
            font-size: 5rem;
            line-height: 1;
            margin-bottom: .5em;

            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }
    
        p {
            padding: 10px 0, 10px 0;
        }
    }
}