{{ define "main" }}
<section class="banner" style="background-image: url({{ .Site.Params.banner.image | relURL }});
 position: relative; background-size: cover;">
    <div class="banner-text-block">
        <div>
            <span class="banner-text-block__preheading">Welcome to</span>
            {{ with .Site.Params.banner.heading }}
            <h1>{{ . | markdownify }}</h1>
            {{ end }}
            {{ with .Site.Params.banner.headingtext }}
            <p>{{ . }}</p>
            {{ end }}
            <div class="button-row">
                <a class="button button-primary" href="#">Read More</a>
            </div>
        </div>
    </div>
</section>

<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
<h1>Hello, world!</h1>
{{ end }}